.carrusel{
	width: 100%;
	height: 650px;
	margin-top: 0px;
	background-size: 100% 100%;
	animation: carrusel 4s infinite linear;
}
@keyframes carrusel{
    0%, 34%{
        background-image: url(../Sem3-Carrusel/tigre.jpg);
        
    }
    35%,69%{
    background-image: url(../Sem3-Carrusel/tigre.jpg);
    
    }
    70%,100%{
        background-image: url(../Sem3-Carrusel/tigre.png);
    
    
    }